:root {
	--start: 0;
	--increment: 1;
}

.factors {
	list-style: none;
	counter-reset: number var(--start);
}

.factors li::before {
	font-size: 22px;
	font-weight: bold;
	margin: 0px;
	content: counter(number) ": ";
	counter-increment: number var(--increment);
}

.factors h2[data-exp] {
	display: inline;
	margin: 0px;
}

.factors h2[data-exp]::after {
	content: attr(data-exp);
	position: relative;
	bottom: .5em;
	font-size: .7em;
}
