input {
	height: 50px;
	width: 200px;
}
input.button {
	width: 100px;
}
input.button.delta {
	width: 50px;
}
button, select {
	height: 50px;
}
.hidden {
	display: none;
}
a.top {
	text-decoration: none;
	color: #0f0
}
